<!-- Swiper -->
<div class="swiper mySwiper">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" /> Slide 1
    </li>
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" />Slide 2
    </li>
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" />Slide 3
    </li>
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" />Slide 4
    </li>
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" />Slide 5
    </li>
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" />Slide 6
    </li>
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" />Slide 7
    </li>
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" />Slide 8
    </li>
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" alt="" />Slide 9
    </li>
  </ul>
  <div class="swiper-pagination"></div>
</div>
